**1-Write a Python program to calculate the length of a string using 2 ways

In [2]:
j=input("write a word")
print(len(j))

7
7

In [ ]:
k=input("write a word")
for i in j:
    k+=1
print(k)

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
k=input("write a word")
if len(k)>=2:
    print(k[0:2]+k[-2:])
else:
    print("")

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [5]:
k=input("write a word\t")
length=len(k)
print(length)
print(k[-3:])
if k[-3:]=="ing" and length >=3:
    k=k[0:-3]+"ly"
elif k[-3:]!="ing" and length>=3:
    k=k+"ing"
print(k)

write a word	jnlk

.0**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [4]:
def longetword(list):
    k=0
    l=""
    for i in list:
        if k<len(i):
            k=len(i)
            l=i
    return l
list=["ahmed","abdallah","rashad"]
print(longetword(list))
            km

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [4]:
l="zbcz"
firstele=l[0]
asccicode=ord(firstele)
if firstele=="z":
    asccicode=ord("a")
    asccicode-=1
nextletter1=chr(asccicode+1)
lastele=l[-1]
asccicode=ord(lastele)
if lastele=="z":
    asccicode=ord("a")
    asccicode-=1
nextletter2=chr(asccicode+1)
l=nextletter1+l[1:-1]+nextletter2
print(l)

abca

In [6]:
l="abca"
firstele=l[0]
asccicode=ord(firstele)
if firstele=="a":
    asccicode=ord("z")
    asccicode+=1
nextletter1=chr(asccicode-1)
lastele=l[-1]
asccicode=ord(lastele)
if lastele=="a":
    asccicode=ord("z")
    asccicode+=1
nextletter2=chr(asccicode-1)
l=nextletter1+l[1:-1]+nextletter2
print(l)

zbcz

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [7]:
f="abca"
f=f[::2]
print(f)

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
a="amr"
b="ahmed"
if len(a)>len(b):
    print(1)
elif len(a)<len(b):
    print(2)
else:
    print("the same length")

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [9]:
k=input("write anything")
print(k.upper()+"  "+k.lower())

write anythingassAsDAWA
ASSASDAWA  assasdawa

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [19]:
k=input("write anything : \t")
if len(k)%4==0:
    k=k[::-1]
print(k)

write anything : 	asdqw
asdqw

**10- Write a Python program to remove a newline in Python

In [22]:
k="asdw \n sadwdas\n dfsdf\n"
print(k.replace("\n",""))

asdw  sadwdas dfsdf

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
k="asdwqedsa"
if k[0]=="a":
    print("found")
else:
    print("not found")

**12- Write a Python program to add prefix text to all of the lines in a string

In [23]:
pera='''Hey i am a abdallah aly.Now days i am doing tarining in AI and Machine learning.I am doing training from instant'''
list1=pera.split('.')
for i in list1:
    print(">"+i)

>Hey i am a abdallah aly
>Now days i am doing tarining in AI and Machine learning
>I am doing training from instant

**13-Write a Python program to print the following numbers up to 2 decimal places

In [25]:
x = 45.65132
y = 94132.7564
print("Formatted Number: "+"{:.2f}".format(x));
print("Formatted Number: "+"{:.2f}".format(y));

Original Number:  45.65132
Formatted Number: 45.65
Original Number:  94132.7564
Formatted Number: 94132.76

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [26]:
x = 3.1415926
y = -12.9999
print("Formatted Number with sign: "+"{:+.2f}".format(x));
print("Formatted Number with sign: "+"{:+.2f}".format(y));

Formatted Number with sign: +3.14
Formatted Number with sign: -13.00

**15-Write a Python program to display a number with a comma separator

In [28]:
x = 400000
y = 2000
print("Formatted Number with comma separator: "+"{:,}".format(x));
print("Formatted Number with comma separator: "+"{:,}".format(y));

Formatted Number with comma separator: 400,000
Formatted Number with comma separator: 2,000

**16-Write a Python program to reverse a string using 2 ways

In [30]:
my_string = "hello world"
reversed_string = ''.join(reversed(my_string))
print(reversed_string)
my_string = "hello world"
reversed_string = my_string[::-1]
print(reversed_string)

dlrow olleh
dlrow olleh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [36]:
l="asdwasfqweasdasdaaaaaaaaaaaaaaaaaaaaaaa"
k=dict()
for i in l:
    if i in k:
        f=k[i]
        f+=1
        k[str(i)]=f
    else:
        k[str(i)]=0
max1=max(k.values())
for i in k.keys():
    if k[i]==max1:
        a=i
print(a+"  ",max1)

a   26

**18-Write a Python program to find the first non-repeating character in a given string

In [37]:
l="asdaaswfg"
for i in l:
    if l.count(i)==1:
        print(i)
        break

d

**19-Write a Python program to remove spaces from a given string

In [39]:
k="    asd     ".strip()
print(k)

asd

**20-Write a Python program to count the number of non-empty substrings of a given string

In [41]:
def number_of_substrings(str): 
    str_len = len(str); 
    return int(str_len * (str_len + 1) / 2); 

str1 = input("Input a string: ")
print("Number of substrings:") 
print(number_of_substrings(str1))

Input a string: sad
Number of substrings:
6

**21-write a Python program to swap first and last element of any list.

In [42]:
l=[1,2,3,4,5,6]
firstelement=l[0]
lastelement=l[-1]
l[0]=lastelement
l[-1]=firstelement
print(l)

[6, 2, 3, 4, 5, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [46]:
l=[23, 65, 19, 90]
pos1 = 2-1
firstelement=l[pos1]
pos2 = 4-1
lastelement=l[pos2]
l[pos1]=lastelement
l[pos2]=firstelement
print(l)

[23, 90, 19, 65]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [48]:
l=[0,1,2,3,4,5,6]
print(max(l))

6

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [47]:
l=[0,1,2,3,4,5,6]
print(min(l))

0

**26-search for if an elem is existing in list

In [50]:
list1=[1,2,3,4,5,6]

if 7 in list1:
    print("found")
else :
    print("not found")

not found

**27- clear python list using different ways

In [51]:
ds=[2,5,4,6,8,4]
print(ds.clear())
ds=[2,5,4,6,8,4]
ds=[]
print(ds)

None
[]

**28-remove duplicated elements from a list

In [53]:
sd=[1,2,3,4,5,6,2,1,3,21,4,6]
sd=set(sd)
sd=list(sd)
print(sd)

[1, 2, 3, 4, 5, 6, 21]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [82]:
list1=["Gfg", 3, "is", 8]
list2=[]
dic={}
for i,v in enumerate(list1):
    print(i,"   ",v)
    if i%2==0 or i==0:
        print("hello")
        dic["name1"]=v
    else:
        dic["id"]=v
        list2.append(dic)
        dic={}
print(list2)

0     Gfg
hello
1     3
2     is
hello
3     8
[{'name1': 'Gfg', 'id': 3}, {'name1': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [83]:
input_list = [1, 2, 2, 5, 8, 4, 4, 8]
l1 = []
count = 0
for item in input_list:
    if item not in l1:
        count += 1
        l1.append(item)
# printing the output
print("No of unique items are:", count)

input_list = set(input_list)
print(len(input_list))

No of unique items are: 5
5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [84]:
from collections import Counter
# initializing list
test_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8] 
# printing string
print("The original list : " + str(test_list))
# initializing K
K = 2
# using list comprehension to bind result
res = [ele for ele, cnt in Counter(test_list).items() if cnt > K]
# printing results
print("The required elements : " + str(res))

The original list : [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
The required elements : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [85]:
k=[1,2,2,3,4,5]
list1=[]
for i in range(1,len(k)):
    list1.append(max(k[i-1],k[i]))
print(list1)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [90]:
def comb(L):     
    for i in range(3):
        for j in range(3):
            for k in range(3):
                  
                # check if the indexes are not
                # same
                if (i!=j and j!=k and i!=k):
                    print(L[i], L[j], L[k])
                      
# Driver Code
comb([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [92]:
from itertools import combinations
test_list = [1, 2, 3]
combinations_list = []
for r in range(1, len(test_list) + 1):
    for combination in combinations(test_list, r):
        combinations_list.append(list(combination))
print(combinations_list)

[[1], [2], [3], [1, 2], [1, 3], [2, 3], [1, 2, 3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [93]:
# python program to demonstrate
# unique combination of two lists
# using zip() and permutation of itertools
 
# import itertools package
import itertools
from itertools import permutations
 
# initialize lists
list_1 = ["a", "b"]
list_2 = [1,2]
 
# create empty list to store the
# combinations
unique_combinations = []
 
# Getting all permutations of list_1
# with length of list_2
permut = itertools.permutations(list_1, len(list_2))
 
# zip() is called to pair each permutation
# and shorter list element into combination
for comb in permut:
    zipped = zip(comb, list_2)
    unique_combinations.append(list(zipped))
 
# printing unique_combination list
print(unique_combinations)

[[('a', 1), ('b', 2)], [('b', 1), ('a', 2)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [100]:
list1=[1,1,2,3,4,5,1,2,1]
max1=0
for i in list1:
    if max1<list1.count(i):
        max1=i
newlist = [value for value in list1 if value != max1]
print(newlist)

1
1
[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [101]:
list1 = ["GFg", "is","best"]
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
for i, v in enumerate(list2):
    list2[i] = list1[v]
print(list2)

['GFg', 'is', 'best', 'is', 'GFg', 'GFg', 'GFg', 'best', 'is', 'is', 'best', 'GFg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [107]:
test_list = [(4, 5, 5, 4), (5, 4, 3)],
print("The original list is : " + str(test_list))
K = 5
 
# initializing N
N = 3
 
# Retain records with N occurrences of K
# Using count() + list comprehension
res = [ele for ele in test_list if ele.count(K) == N]
 
# printing result
print("Filtered tuples : " + str(res))

The original list is : ([(4, 5, 5, 4, 5, 3, 3, 3), (5, 4, 3)],)
Filtered tuples : []

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [108]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

for i in range(len(array)):
    sorted_array = sorted(array, key=lambda x: x[i])
    print("Sorted array specific to column", i, ":", sorted_array)

Sorted array specific to column 0 : [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1 : [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2 : [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [110]:
dic = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_dic = sorted(dic.items(), key=lambda x: x[1])

print(sorted_dic)

[('yash', 2), ('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32)]

### **41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [5]:
test_dict = {"Gfg": 3, "is": 7, "best": 10, "for": 6, "geeks": "CS"}
k = 7
new_dict = {}
for key, value in test_dict.items():
    if isinstance(value, int) and value <= k:
        new_dict[key] = value
test_dict = new_dict
print(test_dict)

{'Gfg': 3, 'is': 7, 'for': 6}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

dic4 = {}
dic4.update(dic1)
dic4.update(dic2)
dic4.update(dic3)

print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [12]:
dic={1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for i,v in enumerate(dic.items()):
    print("key number ",(i+1),v[0])
    print("value number ",(i+1),v[1])

key number  1 1
value number  1 10
key number  2 2
value number  2 20
key number  3 3
value number  3 30
key number  4 4
value number  4 40
key number  5 5
value number  5 50
key number  6 6
value number  6 60

**44- Write a Python script to merge two Python dictionaries

In [13]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [14]:
dic={'a': 1, 'b': 2, 'c': 3, 'd': 4}
min1=min(dic.values())
max1=max(dic.values())
print("the min = "+str(min1)+"\n"+"the max = "+str(max1),end="\tthanks")

the min = 1
the max = 4	thanks

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [15]:
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict = {key: value for key, value in original_dict.items() if value is not None}
print("Original Dictionary:", original_dict)
print("New Dictionary after dropping empty items:", new_dict)

Original Dictionary: {'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [16]:
# Create a tuple of numbers
my_tuple = (1, 2, 3, 4, 5)

# Print the first item
print("The first item in the tuple is:", my_tuple[0])

The first item in the tuple is: 1

**48-Write a Python program to unpack a tuple into several variables

In [17]:
# Define a tuple of values
my_tuple = (1, 2, 3)

# Unpack the tuple into separate variables
a, b, c = my_tuple

# Print the values of the variables
print("a =", a)
print("b =", b)
print("c =", c)

a = 1
b = 2
c = 3

**49-Write a Python program to add an item to a tuple

In [ ]:
# Define a tuple of values
my_tuple = (1, 2, 3)

# Add a new item to the tuple
new_tuple = my_tuple + (4,)

# Print the new tuple
print("The new tuple is:", new_tuple)

**50-Write a Python program to convert a tuple to a string

In [18]:
# Define a tuple of values
my_tuple = (1, 2, 3)

# Convert the tuple to a string
my_string = ''.join(str(item) for item in my_tuple)

# Print the string
print("The string is:", my_string)

The string is: 123

**51-Write a Python program to convert a list to a tuple

In [19]:
# Define a list of values
my_list = [1, 2, 3]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: (1, 2, 3)

**52-Write a Python program to reverse a tuple

In [20]:
# Define a tuple of values
my_tuple = (1, 2, 3)

# Reverse the tuple
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("The reversed tuple is:", reversed_tuple)

The reversed tuple is: (3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [21]:
# Define a list of tuples
my_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# Replace the last value in each tuple with 100
new_list = [tuple(list(tup)[:-1] + [100]) for tup in my_list]

# Print the new list
print("The new list is:", new_list)

The new list is: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [22]:
# Define a string
my_string = "python 3.0 <class 'str'>"

# Convert the string to a tuple
my_tuple = tuple([char for char in my_string if char.isalnum()])

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: ('p', 'y', 't', 'h', 'o', 'n', '3', '0', 'c', 'l', 'a', 's', 's', 's', 't', 'r')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [23]:
# Define a tuple of tuples
my_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

# Calculate the average value of the numbers
total_sum = 0
total_count = 0
for tup in my_tuple:
    for num in tup:
        total_sum += num
        total_count += 1

average = total_sum / total_count

# Print the average value
print("The average value is:", average)

The average value is: 5.0

**56-Write a Python program to add member(s) to a set.

In [24]:
# Define a set of values
my_set = {1, 2, 3}

# Add a single value to the set
my_set.add(4)

# Add multiple values to the set
my_set.update([5, 6, 7])

# Print the updated set
print("The updated set is:", my_set)

The updated set is: {1, 2, 3, 4, 5, 6, 7}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [25]:
# Define a set of values
my_set = {1, 2, 3, 4, 5}

# Remove an item from the set if it is present
my_set.discard(4)

# Print the updated set
print("The updated set is:", my_set)

The updated set is: {1, 2, 3, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [26]:
# Define two sets of values
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Create the intersection of the sets
intersection = set1.intersection(set2)

# Create the union of the sets
union = set1.union(set2)

# Create the difference between the sets
difference = set1.difference(set2)

# Create the symmetric difference between the sets
symmetric_difference = set1.symmetric_difference(set2)

# Print the results
print("The intersection is:", intersection)
print("The union is:", union)
print("The difference is:", difference)
print("The symmetric difference is:", symmetric_difference)

The intersection is: {4, 5}
The union is: {1, 2, 3, 4, 5, 6, 7, 8}
The difference is: {1, 2, 3}
The symmetric difference is: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
# Define a set of values
my_set = {1, 2, 3, 4, 5}

# Find the maximum value in the set
max_value = max(my_set)

# Find the minimum value in the set
min_value = min(my_set)

# Print the results
print("The maximum value is:", max_value)
print("The minimum value is:", min_value)

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [27]:
# Define a list of values and a target sum
my_list = [1, 2, 3, 4, 5, 6]
target_sum = 7

# Find all pairs of elements whose sum is equal to the target sum
pairs = []
for i in range(len(my_list)):
    for j in range(i+1, len(my_list)):
        if my_list[i] + my_list[j] == target_sum:
            pairs.append((my_list[i], my_list[j]))

# Print the resulting pairs
print("Pairs whose sum is equal to", target_sum, ":")
for pair in pairs:
    print(pair)

Pairs whose sum is equal to 7 :
(1, 6)
(2, 5)
(3, 4)